
<div class="trainers-container">
    <div class="trainer">
      <img src="assets\m1.jpg" alt="Trainer 1">
      <h2>Varun Dhawan</h2>
      <p>Specializes in: Weightlifting, Bodybuilding</p>
    </div>
    <div class="trainer">
      <img src="assets\m2.jpg" alt="Trainer 2">
      <h2>Manish Advillkar</h2>
      <p>Specializes in: Yoga, Pilates</p>
    </div>
    <div class="trainer">
      <img src="assets\m3.jpg" alt="Trainer 3">
      <h2>Gauvar Molri</h2>
      <p>Specializes in: Cardio, HIIT</p>
    </div>
  </div>

